<!DOCTYPE html>
<html lang="ja">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/layout.css">
	</head>
	<style>
		#btn {
        		background-color: #32CD32;
        		color: #fff;
		}
	</style>
	<body>
		<form action="index.php" method="post" class="pt100c">
			<input type="text" name="name" class="w300" id="input-word"
					   placeholder="あなたの好きな言葉を入力してください">
			</input>
			<input type="submit" value="生成！" id="btn" class="w60"></input>
		</form>
	</body>
</html>
